<h2>姓名： <%= @user.name %></h2>
<h2>暱稱： <%= @user.nickname %></h2>
<h2>信箱： <%= @user.email %></h2>
<h2>信用評分： <%= @user.credit_score %></h2>
<h2>聯絡電話： <%= @user.phone %></h2>
<h2>方便聯絡時間： <%= @user.phone_memo %></h2>

<%= link_to  "訂單管理", orders_path, class: "btn btn-default"%>
<%= link_to  "back",  :back, class: "btn btn-default"%>