<%= render  "common/product_kind", kinds: @kinds %>
<div class="col-md-12">
  <h1>Product List</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>名稱</td>
        <td>描述</td>
        <td>剩餘數量</td>
        <td>單價</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= image_tag product.image.small.url %></td>
          <td>
            <%= link_to product.name, product_path(product), data: { turbolinks: false } %>
          </td>
          <td>
            <%= product.description %>
          </td>
          <td><%= product.amount %></td>
          <td><%= product.price %></td>
          <td>
            <%= link_to  "加入購物車", shopping_cart_product_path(product), method: "post", class: "btn btn-warning" %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>