
<h1><%= @product.name %></h1>
<%= image_tag @product.image.medium.url %>
<p>price:<%= Integer(@product.price) %></p>
<p>
  Introduction:<br>
  <%= simple_format(@product.content) %>
</p>
<hr>
<%= text_field_tag 'amount', @product.amount, hidden: true %>
<p>
  <h3>Pictures：</h3>
  <% if @product.product_pictures.size != 0 %>
    <% @product.product_pictures.each do |pic| %>
      <%= image_tag pic.file.medium.url %>
    <% end %>
  <% end %>
</p>

<%= form_for @shopping_cart, url: shopping_cart_product_path, method: "post" do |f| %>
  <%= f.label :amount, "數量：" %>
  <%= button_tag "-", value: "-1", class: "btn btn-default amount_button" %>
  <%= f.number_field :amount, input_html: { :value => @shopping_cart.amount } %>
  <%= button_tag "+", value: "1", class: "btn btn-default amount_button" %>
  <%= f.submit "加入購物車", class: "btn btn-warning"%>
<% end %>

<%= link_to  "Back", products_path, class: "btn btn-default" %>